# Compiled files
*/.terraform/*
*/.terragrunt-cache/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform
.terraform/*
# Credentials
.aws
.aws/*

# Public SSH keys
*.pub

# Environment file
aws.env
*.env
